<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<% if user_signed_in? && current_user == @user  %>
  <%= render partial: "posts/form" %>
<% end %>

<h1>Posts</h1>
<%= render partial: "posts/feed" %>
