<p id="notice"><%= notice %></p>
<div class="profile-container">
  <%= image_tag(@user.avatar.variant(resize: "350x350!").processed, class: "profile-pic rounded") if @user.avatar.attached? %>
  <div class="profile-info">
    <h1>
      <%= @user.full_name %>
    </h1>

    <p>
      <strong>Email:</strong>
      <%= @user.email %>
    </p>

    <% if current_user.friends.any?{|f| f == @user} %>
      <%= link_to 'Unfriend', unfriend_path(@user), method: :delete, class: "btn btn-danger white-text" %>
    <% elsif current_user.in_friend_requests.any?{ |f| f.requester_id.to_i == @user.id.to_i } && current_user != @user %>
      <%= link_to 'Accept Friend Request', friendship_path(current_user.in_friend_requests.find{|f| f.requester_id == @user.id.to_i}.id), class: "btn btn-success white-text" %>
    <% elsif !current_user.out_friend_requests.any?{ |f| f.requested_id.to_i == @user.id.to_i } && current_user != @user %>
      <%= link_to 'Add as Friend', request_path(@user), class: "btn btn-primary white-text" %>
    <% elsif current_user != @user %>
      <button type="button" class="btn btn-secondary white-text" disabled>Friend Request Pending</button>
    <% end %>

    <h2 class="friends-title mt-3">Friends</h2>
    <%= render partial: "users/friends" %>
  </div>
</div>

<% if user_signed_in? && current_user == @user  %>
  <div class="posts-container">
    <%= render partial: "posts/form" %>
  </div>
<% end %>
<%= render partial: "posts/feed" %>
