<p class="d-flex">
  <% if friend_request.requested_id == current_user.id %>
    <%= image_tag(friend_request.requester.avatar_thumbnail, class: "friend-avatar") if friend_request.requester.avatar.attached? %>
    <div>
      <%= link_to friend_request.requester.full_name,  user_path(friend_request.requester_id) %>
      <%= link_to "Accept",  friendship_path(friend_request.id) %>
    </div>
  <% else %>
      <%= image_tag(friend_request.requested.avatar_thumbnail, class: "friend-avatar") if friend_request.requested.avatar.attached? %>
      <%= link_to friend_request.requested.full_name,  user_path(friend_request.requested_id) %> Pending...
  <% end %>
</p>
