<% @posts.each do |post| %>
  <div class="posts-container">
    <div class="media post-head">
      <%= image_tag(post.user.avatar, class: "post-avatar rounded") if post.user.avatar.attached? %>
      <div class="media-body">
        <h5 class="mt-0"><%= link_to post.user.full_name, user_path(post.user_id) %></h5>
        <p><%= time_ago_in_words(post.created_at) %> ago</p>
      </div>
    </div>
    <%= post.body %>
    <p><%= post.likes.length %> <%= post.likes.length == 1 ? 'Like' : 'Likes'  %></p>

    <div class="post-btns-container">
      <% unless post.likes.any?{ |l| l.user == current_user } %>
        <%= button_to(like_path(post), method: :post, class: "btn btn-primary btn-sm mr-1") do %>
          <i class="far fa-heart post-btn-pic mr-2"></i>Like
        <% end %>
      <% else %>
        <%= button_to(unlike_path(post), method: :delete, class: "btn btn-primary btn-sm mr-1") do %>
          <i class="fas fa-heart post-btn-pic mr-2"></i>Unlike
        <% end %>
      <% end %>

      <% if post.user == current_user %>
        <%= button_to(edit_post_path(post), method: :get, class: "btn btn-primary btn-sm mr-1") do %>
          <i class="fas fa-edit post-btn-pic mr-2"></i>Edit
        <% end %>
        <%= button_to(post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm mr-1") do %>
          <i class="fas fa-trash-alt post-btn-pic mr-2"></i>Delete
        <% end %>
      <% end %>
    </div>
    <a><%= post.comments.length %> <%= post.comments.length == 1 ? 'Comment' : 'Comments'  %></a>
    <%= render "comments/list", post: post %>
  </div>
<% end %>
