<div class="post-form-container">
  <%= image_tag(current_user.avatar_thumbnail, class: "post-avatar") if current_user.avatar.attached? %>
  <%= simple_form_for(@post, html: { class: "post-form" }) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <%= f.text_area :body, class: "form-control", placeholder: "What's on your mind?" %>
    <%= f.button :submit, class: "btn btn-primary btn-block" %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  <% end %>
</div>
